body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    
}

h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.55rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.row p{
    font-family: 'Montserrat';
    font-weight: 400;
}


.btn {
    margin: 5% 3% 5% 0;
}

.icon-feature {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon-feature:hover {
    color: #ff4c68;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-inner {
    padding: 7% 15%;
}

.logo {
    width: 13%;
    margin: 20px 20px 50px;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    font-family: 'Montserrat';
    font-weight: 900;
    color: #fff;
    text-align: center;
    
}

#cta h3 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

#pag-inicial {
    padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
    color: white;
}

#img1 {
    transform: rotate(20deg);
    width: 20%;
    margin-left: 5%;
    position: absolute;
}

#features {
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    background-color: #fff;

}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#pricing {
    padding: 100px;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

@media (max-width: 990px) {

    #title {
        text-align: center;
    }

    #img1 {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}